<div class="page_border">
  <p style="color: green"><%= notice %></p>

  <h1>Users</h1>

  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
      <p>
        <%= link_to "Show this user", user, class: 'user_show' %>
        <%= button_to "Delete the user", user, method: :delete %>
      </p>
    <% end %>
  </div>

  <%= link_to "New user", new_user_path, class: 'user_show' %>
</div>